<h1>
  5d4
</h1>

<ul>
    <li>
      <%= @roll%>
    </li>
    <li>
      <%= @roll_two%>
    </li>
    <li>
      <%= @roll_three%>
    </li>
    <li>
      <%= @roll_four%>
    </li>
    <li>
      <%= @roll_five%>
    </li>








</ul>
